@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
  }
}

/* color: #fed72f;  */
/* color: #fca61e;  */
/* background: #131318; */
/* background: #17171d; */
body {
  background: #17171d;
  font-family: "JetBrains Mono", Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media (max-width: 1024px) {
  .responsive-statics {
    display: flex;
    width: auto;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .responsive-about {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .responsive-about-Text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;

    p {
      text-align: center;
    }
  }

  .responsive-about-Image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .responsive-about-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .responsive-job{
    /* background-color: aqua; */
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: auto;
  }

  .responsive-button-job{
    z-index: 10;
    position: relative;
    top: -33rem;
    display: flex;
    justify-content: space-between;

    button {
      width: 3rem;
      padding: 0;
    }
  }

    .responsive-button-work{
    /* background-color: aqua; */
    /* z-index: 10;
    position: relative;
    top: -35rem;
    display: flex; */
    justify-content: space-between;

    button {
      margin-right: 0.1rem;
      margin-left: 0.1rem;
      width: 3rem;
      padding: 0;
    }
  }

  .responsive-box{
    /* background-color: blue; */
    display: flex;
    flex-direction: column-reverse;
  }

  .stock-ticker {
    overflow: hidden;
    user-select: none;
    --gap: 20px;
    display: flex;
    gap: var(--gap);
  }

  .stock-ticker ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap);
    margin-left: -25px;
    animation: scroll 1s linear infinite;
  }

  .responsive-statistic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .responsive-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
  }
}

.stock-ticker {
  padding-block: 8px;
  overflow: hidden;
  user-select: none;
  --gap: 20px;
  display: flex;
  gap: var(--gap);
}

.stock-ticker ul {
  list-style: none;
  flex-shrink: 0;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap);

  animation: scroll 20s linear infinite;
}

.stock-ticker:hover ul {
  animation-play-state: paused;
}

@keyframes scroll {
  to {
    transform: translateX(calc(-50% - var(--gap)));
  }
}


